.f {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    height: 200px;
    background-color: brown;
    /* align-items: center; */
    /* align-items: end; */
    /* align-items: stretch; */
    align-items: start;

    /* flex-wrap: wrap; */
    gap: 50px;
}

.f-item {
    /* width: 150px; */
    height: 150px;
    background-color: burlywood;
    min-width: 50px;
}

.item1 {
    /* margin-right: 50px; */
    flex-grow: 1;
}

.item5 {
    flex-grow: 1;
}